In [3]:
pip install apyori

Requirement already satisfied: apyori in c:\users\zero_\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import numpy as np
import pandas as pd
from apyori import apriori
import os

In [15]:

data_store = pd.read_excel('https://github.com/ekayuniar/datamining/raw/master/UAS/dataset%20soal%20no.2.xls')
data_store.tail()

ImportError: Pandas requires version '2.0.1' or newer of 'xlrd' (version '1.2.0' currently installed).

In [17]:
dir_path = 'D:\KULIAH\SEMESTER 6\MATKUL DATA MINING\Data UAS'
print("Files in directory:", os.listdir(dir_path))

Files in directory: ['dataset soal no.1.xls', 'dataset soal no.1.xlsx', 'dataset soal no.2.xls', 'dataset soal no.2.xlsx', 'dataset soal no.3.xlsx', 'tugas soal ke 9.xlsx', 'UAS_no_1.ipynb', 'UAS_no_2.ipynb', 'UAS_no_3.ipynb']

In [19]:
import pyexcel as p

file_xls = 'D:/KULIAH/SEMESTER 6/MATKUL DATA MINING/Data UAS/dataset soal no.2.xls'
file_xlsx = 'D:/KULIAH/SEMESTER 6/MATKUL DATA MINING/Data UAS/dataset soal no.2.xlsx'

p.save_book_as(file_name=file_xls, dest_file_name=file_xlsx)

In [21]:
import pandas as pd

file_xlsx = 'D:/KULIAH/SEMESTER 6/MATKUL DATA MINING/Data UAS/dataset soal no.2.xlsx'
data = pd.read_excel(file_xlsx, engine='openpyxl')

print(data.head())

  Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
0     Wine    Chips    Bread   Butter     Milk    Apple
1     Wine      NaN    Bread   Butter     Milk      NaN
2      NaN      NaN    Bread   Butter     Milk      NaN
3      NaN    Chips      NaN      NaN      NaN    Apple
4     Wine    Chips    Bread   Butter     Milk    Apple

In [23]:
import pandas as pd

# Pastikan path file sesuai dengan lokasi file Anda
file_path = 'D:/KULIAH/SEMESTER 6/MATKUL DATA MINING/Data UAS/dataset soal no.2.xlsx'

# Membaca data dari file Excel ke dalam DataFrame
try:
    data_store = pd.read_excel(file_path)
    print("Shape of data_store:", data_store.shape)
except FileNotFoundError:
    print(f"File '{file_path}' not found. Please check the file path and try again.")

Shape of data_store: (101, 6)

In [27]:
data_store.shape

(101, 6)

In [29]:
records = []
for i in range(0, 51):
    records.append([str(data_store.values[i,j]) for j in range(0,6)])

In [31]:
association_rules = apriori(records, min_support=0.2, min_confidence=0.6, min_lift=0.2, main_lenght=2)
association_results = list(association_rules)

In [33]:
print(len(association_results))

102

In [35]:
print(len(association_results[0]))

3

In [37]:

print(association_results[0])

RelationRecord(items=frozenset({'Apple'}), support=0.8431372549019608, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Apple'}), confidence=0.8431372549019608, lift=1.0)])

In [58]:
results =[]
for item in association_results:
    pair = item[0]
    items = [x for x in pair]

    value0 = str(items[0]) if items else ""  # Handle the case where items is empty
    value1 = str(items[1]) if len(items) > 1 else ""  # Handle the case where items has only one element
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]

    rows = (value0,value1,value2,value3,value4)

    results.append(rows)

label = ['title1', 'title2','support','confidence','lift']

store_suggestion = pd.DataFrame(results, columns=label)

print(store_suggestion)

     title1 title2 support confidence    lift
0     Apple         0.8431     0.8431     1.0
1     Bread         0.7843     0.7843     1.0
2    Butter         0.7647     0.7647     1.0
3     Chips         0.7058     0.7058     1.0
4      Milk         0.8823     0.8823     1.0
..      ...    ...     ...        ...     ...
97     Milk  Apple  0.2352     0.6666  0.9189
98     Milk    nan  0.2156     0.7333  0.9589
99    Bread   Milk  0.2745     0.6363  1.0469
100   Bread   Milk  0.2549     0.6190  0.9285
101   Bread   Milk  0.2352     0.6666  1.0967

[102 rows x 5 columns]

In [39]:
results =[]
for item in association_results:
    pair = item[0]
    items = [x for x in pair]

    value0 = str(items[0]) if items else ""  # Handle cases where items is empty
    value1 = str(items[1]) if len(items) > 1 else ""  # Handle cases where items has less than two elements
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]

    rows = (value0,value1,value2,value3,value4)

    results.append(rows)

label = ['title1', 'title2','support','confidence','lift']  # Moved label outside the loop

store_suggestion = pd.DataFrame(results, columns=label)  # Moved DataFrame creation outside the loop

print(store_suggestion)

     title1 title2 support confidence    lift
0     Apple         0.8431     0.8431     1.0
1     Bread         0.7843     0.7843     1.0
2    Butter         0.7647     0.7647     1.0
3     Chips         0.7058     0.7058     1.0
4      Milk         0.8823     0.8823     1.0
..      ...    ...     ...        ...     ...
97   Butter  Chips  0.2352     0.6666  0.9189
98   Butter  Apple  0.2156     0.7333  0.9589
99   Butter  Chips  0.2745     0.6363  1.0469
100  Butter   Milk  0.2549     0.6190  0.9285
101  Butter  Chips  0.2352     0.6666  1.0967

[102 rows x 5 columns]

In [60]:
results = []
for item in association_results:
    pair = item[0]
    items = [x for x in pair]

    value0 = str(items[0]) if items else ""  # Handle cases where items is empty
    value1 = str(items[1]) if len(items) > 1 else ""  # Handle cases where items has less than two elements
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]

    rows = (value0, value1, value2, value3, value4)
    results.append(rows)

label = ['title1', 'title2', 'support', 'confidence', 'lift']

store_suggestion = pd.DataFrame(results, columns=label)

print(store_suggestion)

     title1 title2 support confidence    lift
0     Apple         0.8431     0.8431     1.0
1     Bread         0.7843     0.7843     1.0
2    Butter         0.7647     0.7647     1.0
3     Chips         0.7058     0.7058     1.0
4      Milk         0.8823     0.8823     1.0
..      ...    ...     ...        ...     ...
97     Wine   Milk  0.2352     0.6666  0.9189
98      nan   Milk  0.2156     0.7333  0.9589
99    Bread   Wine  0.2745     0.6363  1.0469
100   Bread    nan  0.2549     0.6190  0.9285
101   Bread   Wine  0.2352     0.6666  1.0967

[102 rows x 5 columns]

In [41]:
store_suggestion.describe()

       title1 title2 support confidence lift
count     102    102     102        102  102
unique      7      8      30         43   63
top     Apple   Milk  0.4705     0.6666  1.0
freq       42     19       8         11   24

In [45]:
store_suggestion.to_excel('data_output7.xlsx')

In [47]:
from IPython.display import FileLink

# Link untuk mengunduh file
FileLink(r'data_output7.xlsx')

C:\Users\Zero_\data_output7.xlsx